<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-lg-5-custom">
                    <h3> <%= __('opportunities') %> </h3>
                    <ul>
                        <li> <a href="/listOpportunities"> <%= __('job_opportunities') %> </a> </li>
                        <li> <a href="#"> <%= __('visa_tech') %> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-lg-5-custom">
                    <h3> <%= __('contact') %> </h3>
                    <ul>
                        <li> <a href="/contactUs?requestFrom=jobSeeker"> <%= __('job_seekers') %> </a> </li>
                        <li> <a href="/contactUs?requestFrom=employer"> <%= __('employers') %> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-lg-5-custom">
                    <h3> WelTalent </h3>
                    <ul>
                        <li> <a href="/aboutUs"> <%= __('about_us') %> </a> </li>
                        <!--<li> <a href="/meetTeam"> <%= __('meet_team') %> </a> </li>-->
                        <li> <a href="/missionValues"> <%= __('mission_values') %> </a> </li>
                    </ul>
                </div> 
                <div class="col-lg-3 col-lg-5-custom">
                    <h3> <%= __('find_us') %>  </h3>
                    <ul class="social-network-icon">
                        <li> <a href="https://www.linkedin.com/company-beta/25015843/" title="Linkedin"><i class="fa fa-linkedin-square icoLinkedin"></i> Linkedin</a></li>
                        <li> <a href="https://www.facebook.com/weltalent" title="Facebook"><i class="fa fa-facebook-square icoFacebook"></i> Facebook</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-lg-5-custom">
                    <h3> <%= __('our_partner') %>  </h3>
                    <ul class="social-network-icon">
                        <li> <img class="lafabrica-logo" src="images/la_fabrica_logo.jpg" /> </a></li>
                    </ul>
                </div>
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright &copy; WelTalent 2017. All rights reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>